/* Frequency domain analysis reveals hidden truths */
/* Canvas elements hold more than pixels */
/* Metadata is never just metadata */
/* Prime coordinates point the way */
/* background-position: 13px 37px; */
